img{
    width: 100%;
}

/* nav */
nav{

    height: 120px;

    background-color: #06131f;

}

#img-logo{
    width: 60px;
    height: auto;
}


/* main */

main{
    height: calc(100vh - 120px);

    background-color: #1d2d3c;

    overflow-y: auto;
}


#overviewDisc{
    position: fixed;
    top:0;
    left:0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .7);
}


.my_card{
    padding:20px 65px;

    background-color: #112030;
}


.my_img_card{
    margin-bottom: 30px;
}

.my_text_card{
    display:flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
    color:white;
}

.title,.date{
    font-weight: bold;
}

.singer{
    font-size: .8em;
}




